.mainDraw {
    margin: 0 auto;
}

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
}
header {
    display: flex;
    background: #515151;
    justify-content: space-around;
}
header .logo {
    font-size: 0;
}
.logo a {
    display: inline-flex;
}
.logo img {
    height: 65px;
}
.creator {
    font-size: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
    text-align: right;
}
.creator p {
    margin: 0;
}
.creator p:last-child {
    font-size: .7em;
}
main {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    align-items: center;
    justify-content: center;
}
main h1 {
    color: #515151;
    margin: 5px auto 0;
}
main button.makeResult {
    outline: none;
    background: #9D8E8E;
    color: #515151;
    text-transform: uppercase;
    font-size: 2em;
    font-family: 'Play', sans-serif;
    padding: 15px 20px;
    border: 1px solid #9D9D9D;
    transition: .3s;
}
main button.makeResult:hover {
    background: #515151;
    color: #9D8E8E;
    font-size: 2.2em;
}
.result {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 5px;
}
.result_canvas p {
    text-align: center;
    color: #515151;
    text-transform: uppercase;
}
footer li {
    list-style: none;
}
footer {
    display: flex;
    justify-content: space-between;
    background: #515151;
    margin-top: 5px;
    padding: 15px 0;
    color: white;
}
.socSet {
    width: 30%;
    margin-left: 10%;
}
.socSet a {
    display: inline-flex;
}
.socSet img {
    height: 48px;
}
.socSet ul {
    display: flex;
    width: 100%;
    align-items: center;
    margin: 0;
    padding: 0;
    justify-content: space-around;
}
.rights {
    align-self: flex-end;
    margin-right: 10%;
}
label {
    display: block;
}


